doctype html
html
  head
    title pong
    style.
      body{
        font-family: sans-serif;
      }
      #box{
        position: absolute;
        background: black;
        opacity: 0;
        transition: opacity 200ms;
      }
      #clients-count{
        font-size: 20px;
        float: right;
      }
  body
    #box
    #clients-count

    script(src='/socket.io/socket.io.js')
    //- script(src='/js/script.js')
    script(src='/js/pong.js')
