doctype html
html
  head
    title pong
    style.
      body{
        margin: 10px;
        font-family: sans-serif;
        overflow: hidden;
      }
      #canvas{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        outline: 3px solid white;
      }
      #clients-count{
        font-size: 20px;
        float: right;
      }
  body
    #clients-count

    script(src='/socket.io/socket.io.js')
    script(src='/js/pong.js')
