doctype html
html
  head
    title pong
    style.
      #box{
        position: absolute;
        background: black;
      }
  body
    #box

    script(src='/socket.io/socket.io.js')
    script(src='/js/script.js')
