doctype html
html
  head
    title pong
    style.
      #box{
        position: absolute;
        background-image: url('img/wally.jpg');
        background-attachment: fixed;
        background-size: contain;
        background-repeat: no-repeat;
        border-radius: 50%;
      }
  body
    #box

    script(src='/socket.io/socket.io.js')
    script(src='/js/script.js')
