doctype html
html
  head
    title pong
    link(rel='stylesheet' href='css/style.css')
  body

    #intro
      | you, along with X other people, control this paddle.
      br
      | Y people currently control the it other paddle

    script(src='https://cdn.socket.io/socket.io-1.4.5.js')
    script(src='/js/pong.js')
