body
  margin: 10px
  font-family: sans-serif
  overflow: hidden

#canvas
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  margin: auto
  outline: 3px solid white

#clients-count
  font-size: 20px
  float: right

#intro
  background: white
  transform: rotateX(230deg)
  width: 320px
  padding: 10px 15px
  margin: auto
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  height: 200px
  z-index: 1
