doctype html
html
  head
    title pong
    link(rel='stylesheet' href='style.css')
  body

    #intro
      | You and
      span#intro-num
      |  other people control the
      span.bold#intro-dir
      |  paddle.
      br
      span#intro-num-other
      |  people currently control the other paddle.
      br
      | Vote with
      span.bold  arrow keys.
      button#btn-close close

    script(src='bundle.js')
